
{% extends 'base.twig' %}

{% block body %}
 

    {% if message is not null %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endif %}
<script type="text/javascript" src="/public/scripts/signup_ajax.js"></script>


<h2>Registration</h2>
<form action="/signup-post" method="POST">
	<div class="mb-3 frm-name">
  <label class="form-label">Name</label>
  <input type="name" id="name" name="name" class="form-control"  >
</div>
<div class="mb-3 frm-surname">
  <label   class="form-label">Surname</label>
  <input type="text" name="surname" id="surname" class="form-control"  >
</div>
<div class="mb-3 frm-password">
  <label  class="form-label">Password</label>
  <input type="password" name="password" id="pass" class="form-control"  >
</div>
<div class="mb-3">

  <p>Sex</p>
  <input  type="radio"  checked="checked" name="sex" value="male" >
  <label class="form-check-label" for="male">
    Male
  </label>
  <input  type="radio"  name="sex" value="female">
  <label class="form-check-label" for="female">
    Female
  </label>

</div>
<div class="mb-3">
  <label for="groupnum" class="form-label">Group number (2-5)</label>
  <input type="number" id="groupnum" min="2" name="groupnum" max="5" value="2" class="form-control">
</div>
<div class="mb-3 frm-email">
  <label for="exampleFormControlInput1"  class="form-label">Email</label>
  <input type="email" id="email" name="email" class="form-control"  >
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">EGE scores</label>
  <input type="number" min="0" value="0" name="egescore" id="egescore" class="form-control" >
</div>

<input type="submit" class="btn btn-success" value="Send">
<a class="btn btn-secondary" href="/signin">Sign in</a>
</form>



{% endblock %}