<nav class="pageNav">
  <button class="btn btn-dark prevpage" onclick="prevPage()">Prev</button>

  <button class="btn btn-dark nextpage" onclick="nextPage()">Next</button>
</nav>
<script type="text/javascript" src="/../public/scripts/pagination.js"></script>